body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: row-reverse; 
}

.background {
    background-color: #f9f9f9;
    background-image: url('mask.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
}

.justified-text {
    text-align: justify;
}

.content {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #333;
}

p {
    color: #666;
    margin-top: 20px;
}

h2, p {
    font-size: 4vw; 
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

